
.containerr{
    width : 1300px;
    margin : 0px auto;
}
#sidebar{
    background-color: rgb(145, 87, 0);
    color: white;
    padding: 20px;  
}
.navv{
    background-color: rgb(65, 39, 0);
    color: white;
}
.navv-btn{
    background-color: rgb(65, 39, 0);
    color: white;
}
.navv-btn:hover { 
    background-color: rgb(134, 81, 0);
}
#sidebar1{
    height: 1080px;
    padding:0px 55px;
    padding-top:56px;
    
}
#username{
    margin-top: 10px;
}
#loginpics{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 2% 0%;
    background-color: rgb(226, 136, 0);
    background-image: url(/image/DogLogo.png); 
    background-size: 150px 150px;
    background-position: center;
    background-repeat: no-repeat;
}
#img-upload{
    background-color: transparent;
    border-radius: 50%;
}
#logincontent{
    background-color: rgb(85, 85, 85);
    margin-top: 2%;
    padding:0px;
}
#loginpagecontent{
    padding :2%;
}
#profile{
    width :140px;
    height: 140px;
    margin-left: 21px;
    
    border-radius: 50%;
    align:center;
}
.loginguide{
    margin:20px;
}
.listTitle{
    padding : 10px;
    padding-bottom: 5%;
    background-color: rgb(226, 136, 0);
    color: white;
}
#analyzebtn{
    padding : 15px;
    background-color: rgb(0, 192, 226);
    color: white;
}
.listbtn{

    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    -ms-transition: 0.15s;
    -o-transition: 0.15s;
}
.listbtn:hover{
    font-size: 22px;
    
}

#nxtmbtn{
    
    margin-top : 10px;
    padding : 10px;
    background-color: rgb(0, 192, 226);
    color: white;
}
#prembtn{
    margin-top : 10px;
    padding : 10px;
    background-color: rgb(0, 192, 226);
    color: white;
}
#doginfo{
    background-color: rgb(0, 192, 226);
    color: white;
    padding: 5%;
    margin :10px 0px;
    border-radius: 10px;
}
#updatedog{
    margin-top: 50px;
    padding: 10px;
    padding-right: 41px;
}
#updatedog{
    margin-top: 50px;
    padding: 10px;
    padding-right: 41px;
}
#deletedog{
    padding: 10px;

    padding-right: 15px;
}
#dogprofilepics{
    width   : 145px;
    height: 150px;
    background-position: center;
    border-radius: 50%;
    border :10px solid rgb(0, 142, 167);
   ;
}
.sidebarlist{
    padding :0px;
    background-color: rgb(255, 238, 212);
    color: rgb(51, 35, 0)
}
.sidebarComp{
    margin : 20px 0px;
}

.dognameinlist{
    padding : 0px 10px;
    width: 140px;
    margin: 0px;
    
}
.dognameindot{
    padding : 3px 10px;
    width: 42px;
    margin: 0px;
}
.content{
    
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin :30px 10px 10px 30px;
    margin-top:86px;
    
}
#missionTopic{
    color: white;
}
#memberTopic{
    color: white;
}
.memberpic{
    width: 50%;
    border-radius: 50%;
    border : 5px solid;
    border-color: white;
    float: center;

}

#infoParagraph{
    font-weight: bold;
    color: grey;
}

#memberContainer{
    background-color: rgba(247, 153, 59, 0.77);
}
#topic{
    padding-top: 10%;
    padding-bottom: 5%;
}
#infoContainer{
    background-color: rgba(247, 153, 59, 0.77);
}
.schedule{
    background-color: rgb(255, 238, 212);
    border-radius: 10px;
}
#schedulehead{
    background-color : rgb(255, 229, 182);
    margin-bottom :0px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.eachday{
    padding-left : 10px;
    width: auto ;
    height: 110px;  
    background-color:transparent;
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    -ms-transition: 0.15s;
    -o-transition: 0.15s;
      
}
.eachday:hover{
    font-size: 35px;
    /* height:100%;
    width:100%; */
    background-color:rgba(255, 255, 255, 0.548);
      
}

#infod{
    -webkit-animation: fadein 0.5s;
}

/* #butt{
    font-size: 20px;
    height:100%;
    width:100%;
    background-color:transparent;
    transition: 0.15s;
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    -ms-transition: 0.15s;
    -o-transition: 0.15s;
} */

/* #butt:hover{
    font-size: 35px;
    height:100%;
    width:100%;
    background-color:rgba(255, 255, 255, 0.548);
} */

.dogeachday{
    padding-left: 20px;
    width: 110px;
    height: 70px;  
    border: 10px;  
}
.day{

    text-align: center;
    background-color: rgb(226, 136, 0);
    color : white; 
    width: 121px;
    height: 50px;  
    border: 10px;  
}
.dogday{
    text-align: center;
    background-color: rgb(226, 136, 0);
    color : white; 
    width: 110px;
    height: 50px;  
 
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    display:block;
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;   
}
.doginfobtn{
    background-color: white;
    color:rgb(0, 192, 226);
    margin-top:10px;
}

body{
            
            -webkit-animation: fadein 0.5s;
            /*Safari,ChromeandOpera>12.1*/-moz-animation: fadein 0.5s;
            /*Firefox<16*/-ms-animation: fadein 0.5s;
            /*InternetExplorer*/-o-animation: fadein 0.5s;
            /*Opera<12.1*/animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0;margin-bottom: -10% }
    to   { opacity: 1;margin-bottom: 0% }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}