
#topicHead{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
}
#hospitalPic{
    width: 450px;

   
}
#infoContainer{
    margin-top :10px;
    background-color: rgba(247, 153, 59, 0.77);
}

#infoParagraph{
    font-weight: bold;
    color: grey;
}

#topic{
    padding-top: 10%;
    padding-bottom: 5%;
}

