<!DOCTYPE html>
<html>

<head>
    <title>Analyze</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <link rel="stylesheet" href="hmoe.css">
    <link rel="stylesheet" href="analyze.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- For use Vue.JS -->
</head>

<body>

    <!--  Navbar Start--------------------------------------------------------------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class=container>
            <a class="navbar-brand " href="Homepage.html"><i class="fas fa-paw"></i> Dogetor</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="Homepage.html">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#">About us</a>
                    <a class="nav-item nav-link" href="#">Log out</a>
                </div>
            </div>
        </div>
    </nav>
    <!--  Navbar End------------------------------------------------------------------------------------------------->
    <!--  Topbar Start------------------------------------------------------------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="topbar">
        <div class="container">
            <div class="mr-auto"><i class="fas fa-dog"></i></div>
            <div class="mr-auto"><i class="fas fa-star"></i></div>
            <div class=><i class="fas fa-search"></i></div>
            <div class="ml-auto"><i class="fas fa-user-md"></i></div>
            <div class="ml-auto"><i class="fas fa-briefcase-medical"></i></div>
        </div>
    </nav>
    <!--  Topbar End------------------------------------------------------------------------------------------------->
    <div class="container">
        <div class="row">
            <!-- Side bar Start--------------------------------------------------------------------------------------------->
            <div class="col-2 rounded-bottom" id="sidebar">
                <div class="sidebarComp">
                    <img id="profile" src="jhin.jpg"> <!-- userpics----->
                    <h5 id=username>Nutthapoom</h5> <!-- username----->
                    <div>3 dogs</div>
                </div>
                <div class="sidebarComp">
                    <div class="listTitle rounded-top"><i class="fas fa-dog"></i> Dog list</div>
                    <table class="sidebarlist rounded-bottom">
                        <tr class="sidebarlist">
                            <td class="dognameinlist">he y</td>
                            <td class="dognameindot"><i class="fas fa-ellipsis-h"></i></td>
                        </tr>
                        <tr>
                            <td class="dognameinlist">he y</td>
                            <td class="dognameindot"><i class="fas fa-ellipsis-h"></i></td>
                        </tr>
                        <tr>
                            <td class="dognameinlist">he y</td>
                            <td class="dognameindot"><i class="fas fa-ellipsis-h"></i></td>
                        </tr>
                    </table>
                </div>
                <div class="sidebarComp">
                    <div class="listTitle rounded-top"><i class="fas fa-star"></i> Favourite</div>
                    <div>
                        <table class="sidebarlist rounded-bottom">
                            <tr class="sidebarlist">
                                <td class="dognameinlist">he y</td>
                                <td class="dognameindot"><i class="fas fa-ellipsis-h"></i></td>
                            </tr>
                            <tr>
                                <td class="dognameinlist">he y</td>
                                <td class="dognameindot"><i class="fas fa-ellipsis-h"></i></td>
                            </tr>
                            <tr>
                                <td class="dognameinlist">he y</td>
                                <td class="dognameindot"><i class="fas fa-ellipsis-h"></i></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="sidebarComp">
                    <div class="listTitle rounded"><i class="fas fa-user-md"></i> Vet list</div>
                </div>
                <div class="sidebarComp">
                    <div class="listTitle rounded"><i class="fas fa-briefcase-medical"></i> Hospital list</div>
                </div>
            </div>
            <!-- Side bar End---------------------------------------------------------------------------------------------->

            <!--  Analyze part Start ---------------------------------------------------------------------------------------------->
            <div class="col-8">
                <div class="rect-header">
                    <h1 class="text-header">Analyze Disease</h1>
                </div>
                <div style="position:absolute; top:200px; left:60px;">
                    <div class="rect-bar">
                        <p class="text-bar">Name</p>
                    </div>
                    <div class="rect-bar" style="left:340px;">
                        <p class="text-bar">Species</p>
                    </div>
                </div>
                <div style="position:absolute; top:255px; left:60px;">
                    <div class="rect-bar">
                        <p class="text-bar">Age</p>
                    </div>
                </div>                         
<!-- Side bar End---------------------------------------------------------------------------------------------->

<!--  Analyze part Start ---------------------------------------------------------------------------------------------->
                <div style="position:absolute; top:0px; left:26%;">
                    <div class="page-header"><h1>Analyze Disease</h1></div>
                    <!-- Pet info -->
                    <div id="petinfo">
                        <div style="position:absolute; margin-top:200px; margin-left:60px;">
                            <!-- Name -->
                            <div class="input-group mb-3 rect-field">
                                <div class="input-group-prepend">
                                    <span class="input-group-text head-field" id="basic-addon1">Name</span>
                                </div>
                                <input type="text" class="form-control rect-field" v-model="name" placeholder="Pet's name" aria-label="Pet's name" aria-describedby="Pet's name">
                            </div>
                            <!-- Age -->
                            <div class="input-group mb-3 rect-field" style="margin-left:340px;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text head-field" id="basic-addon1">Age</span>                                
                                </div>
                                <input type="text" class="form-control rect-field" v-model="age" placeholder="Pet's age" aria-label="Pet's age" aria-describedby="Pet's age">
                            </div>
                        </div>
                        <div style="position:absolute; margin-top:255px; margin-left:60px;">
                            <!-- Breed -->
                            <div class="input-group mb-3 rect-field">
                                <div class="input-group-prepend">
                                    <label class="input-group-text head-field" for="breed">Breed</label>
                                </div>
                                <select class="custom-select rect-field" id="breed" v-model="breed">
                                    <option value="" disabled selected>Select pet's breed</option>
                                    <option value="1">Huskey</option>
                                    <option value="2">Labrador</option>
                                    <option value="3">Golden</option>
                                </select>
                            </div>
                            <!-- Gender -->
                            <div class="input-group mb-3 rect-field" style="margin-left:340px;">
                                <div class="input-group-prepend">
                                    <label class="input-group-text head-field" for="gender">Gender</label>
                                </div>
                                <select class="custom-select rect-field" id="gender" v-model="gend">
                                    <option value="" disabled selected>Select pet's gender</option>
                                    <option value="1">Dog (male)</option>
                                    <option value="2">Bitch (female)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Symptom -->
                    <div id="symptom">
                        <!-- Symptom type -->
                        <div class="input-group mb-3 rect-field-w" style="top:320px; left:166px;">
                            <div class="input-group-prepend">
                                <label class="input-group-text head-field" for="symptomtype">Symptom type</label>
                            </div>
                            <select class="custom-select rect-field" id="symptomtype" 
                            v-model="typeval" v-on:change="changeSymptomType">
                                <option value="" disabled selected>Select type of symptom</option>
                                <option value="1">Skin</option>
                                <option value="2">Nose</option>
                                <option value="3">Mouth</option>
                                <option value="4">Eyes</option>
                                <option value="5">Ears</option>
                            </select>
                        </div>
                        <!-- Symptom box -->
                        <div style="margin-top:380px; margin-left:60px;">
                            <!-- <div class="box-symptom center">
                                <h1>Symptom</h1>
                            </div> -->
                            <div class="box-symptom">
                                <!-- Symptom list -->
                                <div class="box-symptom-half box-list">
                                    <h2>{{ typename }}</h2>
                                    <div class="form-check" v-for="symp in symplist">
                                        <label class="form-check-label" 
                                        v-on:mouseover="showSymptomInfo(symp)">
                                        <!-- v-on:mouseleave="hideSymptomInfo" -->
                                            <input type="checkbox" class="form-check-input" value="" v-model="symp.check">
                                            {{ symp.name }}
                                        </label>
                                    </div>
                                </div>
                                <div class="line-divide"></div>
                                <!-- Symptom detail -->
                                <div class="box-symptom-half box-detail" v-for="symp in sympdet" style="text-align:center;">
                                    <h2>{{ symp.name }}</h2>                                    
                                    <p>
                                        <img class="img-symptom" v-bind:src="symp.pic"/>
                                        <img class="img-symptom" v-bind:src="symp.pic"/>
                                    </p>
                                    <p>
                                        <div>{{ symp.detail }}</div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rect-bar-w" style="top:320px; left:166px;">
                    <p class="text-bar">Symptom type</p>
                </div>
                <div class="symptom-box" style="top:380px; left:60px;"></div>
            </div>
            <!--  Analyze part End ---------------------------------------------------------------------------------------------->
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="homee.js"></script>

    <script src="analyzereg.js"></script>
    
</html>