<!DOCTYPE html>
<html>

<head>
    <title>Dogetor</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <link rel="stylesheet" href="static/hmoe.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- For use Vue.JS -->
</head>

<body>
    <!--  Navbar Start--------------------------------------------------------------------------------------------------->
    <%- include('navbar') %>
    <!--  Navbar End------------------------------------------------------------------------------------------------->
    <!--  Topbar Start------------------------------------------------------------------------------------------------->
    <!-- <nav class="navbar navbar-expand-lg " id="topbar">
        <div class="containerr">
            <div class="mr-auto"><i class="fas fa-dog"></i></div>
            <div class="mr-auto"><i class="fas fa-star"></i></div>
            <div class=><i class="fas fa-search"></i></div>
            <div class="ml-auto"><i class="fas fa-user-md"></i></div>
            <div class="ml-auto"><i class="fas fa-briefcase-medical"></i></div>
        </div>
    </nav> -->
    <!--  Topbar End------------------------------------------------------------------------------------------------->
    <div class="containerr">
        <div class="row">
            <!--  Side bar Start--------------------------------------------------------------------------------------------->
            <%- include('sidebar') %>

            <!--Side bar End---------------------------------------------------------------------------------------------->
            <div class="col-8 content">
                <div id="doginfo" class="row">


                    <div class="col-4">
                        <form action="/addDog" method="POST" enctype="multipart/form-data">
                            <div class="form-group" id="dogaddpic">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <span class="btn btn-default btn-file">
                                            <img id='img-upload' src="/image/addpics.png" align="center"><input
                                                onchange="chng()" accept="image/*" type="file" id="imgInp" name="uploaded_dogimage">
                                        </span>
                                    </span>

                                </div>
                            </div>
                    </div>
                    <div class="col-6">

                        <h1>Add a new Dog</h1>
                        <div class="form-group">
                            <label>Name:</label>
                            <input required pattern="[A-Za-z0-9]{1,15}" type="text" name="dogName" class="form-control" placeholder="Max Character : 15">
                        </div>
                        <div class="form-group">
                            <label>Age(year):</label>
                            <input required type="number" min="0" max="100" name="dogAge" class="form-control" placeholder="Max Age : 100">
                        </div>
                        <!-- <div class="form-group">
                            <label>Breed:</label>
                            <input required type="text" name="dogBreed" class="form-control" placeholder="breed">
                        </div> -->
                        <div class="form-group">
                            <label>Breed:</label>
                            <select required class="custom-select rect-field" name="dogBreed" placeholder="breed">
                                <option value="" disabled selected>Select your breed</option>
                                <option value="Siberian husky" >Siberian husky</option>
                                <option value="Golden Retriever" >Golden Retriever</option>
                                <option value="Corgi" >Corgi</option>
                                <option value="Pug" >Pug</option>
                                <option value="German sheperd" >German sheperd</option>

                                
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Gender:</label><br>
                            <input type="radio" name="gender" value="male"> Male
                            <input type="radio" name="gender" value="female"> Female<br>
                        </div>
                        <div>
                            <button id="sub" type="submit" class="btn btn-primary ">Add</button>
                            <button class="btn btn-secondary">Cancel</button>
                        </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/homee.js"></script>
<script>
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };

    $(document).ready(function () {
        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
        });

        $('.btn-file :file').on('fileselect', function (event, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = label;

            if (input.length) {
                input.val(log);
            } else {
                
            }

        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img-upload').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function () {
            readURL(this);
        });
    });

    function mouseOver(j) {
        document.getElementById(j).style.backgroundColor = "rgb(225, 220, 212)";
    }

    function mouseOut(j) {
        document.getElementById(j).style.backgroundColor = "rgb(255, 238, 212)";
    }

    function chng()
    {
        var typ=document.getElementById("imgInp").value;
        var res = typ.match(".jpg");
        var res2 = typ.match("jpeg")
        var res3 = typ.match(".png");
        var res4 = typ.match(".PNG");
        var res5 = type.match("gif")

        if(res || res2 || res3 || res4 || res5)
        {
           
        }
        else
        {
           
            alert("Sorry only jpeg or PNG images are accepted");
            document.getElementById("imgInp").value="";
            
        }
    }
</script>

</html>