<!DOCTYPE html>
<html>

    <head>
        <title>Analyze</title>
        <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
            crossorigin="anonymous">
        <link rel="stylesheet" href="/static/hmoe.css">
        <link rel="stylesheet" href="/static/analyze.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- For use Vue.JS -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> <!-- For Thai lang. -->
    </head>

    <body>

        <!--  Navbar Start--------------------------------------------------------------------------------------------------->
    <%- include('navbar') %>
    <!--  Navbar End------------------------------------------------------------------------------------------------->
    <!--  Topbar Start------------------------------------------------------------------------------------------------->
    <!-- <%- include('topbar') %> -->
    <!--  Topbar End------------------------------------------------------------------------------------------------->
    <div class="container">
        <div class="row">
            <!--  Side bar Start--------------------------------------------------------------------------------------------->
            <%- include('sidebar') %>
            
            <!--Side bar End---------------------------------------------------------------------------------------------->

            <!--  Analyze part Start ---------------------------------------------------------------------------------------------->
            <div class="col-8 content">
                <div class="page-header"><h1>Analyze Disease</h1></div>
                <!-- Pet info -->
                <div id="petinfo">
                    <!-- Pet -->
                    <div style="position:absolute; top:100px; left:60px;">
                        <!-- Name -->
                        <div class="input-group mb-3 rect-field">
                            <div class="input-group-prepend">
                                <span class="input-group-text head-field" id="name">Name</span>
                            </div>
                            <input type="text" class="form-control rect-field" 
                            v-model="petinfo.name" placeholder="Pet's name" 
                            aria-label="Pet's name" aria-describedby="Pet's name">
                        </div>
                        <!-- Age -->
                        <div class="input-group mb-3 rect-field" style="left:340px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text head-field" id="basic-addon1">Age</span>                                
                            </div>
                            <input type="text" class="form-control rect-field" 
                            v-model="petinfo.age" placeholder="Pet's age" 
                            aria-label="Pet's age" aria-describedby="Pet's age">
                        </div>
                    </div>
                </div>
                <div style="position:absolute; top:155px; left:60px;">
                    <!-- Breed -->
                    <div class="input-group mb-3 rect-field">
                        <div class="input-group-prepend">
                            <label class="input-group-text head-field" for="breed">Breed</label>
                        </div>
                        <select class="custom-select rect-field" id="breed" 
                        v-model="breedval" v-on:change="changeBreed">
                            <option value="" disabled selected>Select pet's breed</option>
                            <option v-for="(breed, index) in breedall" 
                            v-bind:value="index+1">
                            {{ breed }}</option>
                        </select>
                    </div>
                    <!-- Gender -->
                    <div class="input-group mb-3 rect-field" style="left:340px;">
                        <div class="input-group-prepend">
                            <label class="input-group-text head-field" for="gender">Gender</label>
                        </div>
                        <select class="custom-select rect-field" id="gender" 
                        v-model="gendval" v-on:change="changeGender">
                            <option value="" disabled selected>Select pet's gender</option>
                            <option v-for="(gend, index) in gendall" 
                            v-bind:value="index+1">{{ gend }}</option>
                        </select>
                    </div>
                </div>
                <!-- Symptom -->
                <div id="symptom">
                    <!-- Symptom type -->
                    <div class="input-group mb-3 rect-field-w" style="top:200px; left:166px;">
                        <div class="input-group-prepend">
                            <label class="input-group-text head-field" for="symptomtype">Symptom type</label>
                        </div>
                        <select class="custom-select rect-field" id="symptomtype" 
                        v-model="typeval" v-on:change="changeSymptomType">
                            <option value="" disabled selected>Select type of symptom</option>
                            <option v-for="(type, index) in typenameall" v-bind:value="index+1">
                            {{ type }}</option>
                        </select>
                    </div>
                    <!-- Symptom box -->
                    <div class="box-symptom" style="top:250px; left:60px;">
                        <!-- Symptom list -->
                        <div class="box-symptom-half box-list">
                            <h2>{{ typename }}</h2>
                            <div class="form-check" v-for="symp in symplist">
                                <label class="form-check-label" 
                                v-on:mouseover="showSymptomInfo(symp)">
                                <!-- v-on:mouseleave="hideSymptomInfo" -->
                                    <input type="checkbox" class="form-check-input" value="" v-model="symp.check">
                                    {{ symp.name }}
                                </label>
                            </div>
                        </div>
                        <div class="line-divide"></div>
                        <!-- Symptom detail -->
                        <div class="box-symptom-half box-detail" style="text-align:center;">
                            <h2>{{ sympdet.name }}</h2>                                    
                            <p>
                                <img class="img-symptom" v-bind:src="sympdet.pic1"/>
                                <img class="img-symptom" v-bind:src="sympdet.pic2"/>
                            </p>
                            <p>
                                <div>{{ sympdet.detail }}</div>
                            </p>
                        </div>
                        <!-- Analyze button -->
                        <button type="button" class="btn btn-analyze" onclick="summaryResult()" style="top:360px; right:0px;">
                            <i class="fas fa-search"></i> Analyze
                        </button>
                    </div>
                    <!-- Result -->
                    <div style="position:absolute; top:640px; left:60px;">
                        <!-- Symptom box -->
                        <div class="head-result" style="position:relative; top:15px; left:205px"><h2>Symptom</h2></div>
                        <div class="box-result" style="position:relative; top:15px;">
                            <ul class="text-result" type="none">
                                <li v-for="summ in sympsummary">o {{ summ }}</li>
                            </ul>
                        </div>
                        <!-- Result box -->
                        <div class="head-result" style="position:relative; top:30px; left:205px"><h2>Result</h2></div>
                        <div class="box-result" style="position:relative; top:30px;">
                            <ul class="text-result" type="none">
                                <li v-for="res in sympresult">-> {{ res }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
                <!--  Analyze part End ---------------------------------------------------------------------------------------------->
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/homee.js"></script>
    <script src="/static/analyze.js"></script>
    
</html>