
        <tbody id = "calendar">
            <!-- calendar startt -->
            
            <%var datee = 1;%>
            <%var dayy = Number(day);%>
            <!-- <%= dayy%> -->
            <%var monthh = Number(month);%>
            <%var yearr  = Number(year);%>
            <%var limitt = Number(limit);%>
            <%var check = 0; %> 
            <% for(var i=0; i<6; i++) {%>
                <tr>
                    <% for(var j=0; j<7; j++) {%>
                        <% if (j == dayy){ %>
                            <% check = 1; %>
                        <% } %>
                        <% if (check == 0){%>
                            <td class = "dogeachday"> </td>
                        <% }else{%>
                            <% if(datee < limitt){%>
                                <%var dayee = datee+""+monthh+""+yearr %>
                                            
                                            <% if(events.includes(dayee)) {%>
                                            <td class = "eachday" style="background-color:coral" >                                  
                                                
                                                <a href="#" onclick="eachdayclick(this.innerHTML)"><%= datee %></a></td>
                                            
                                            
                                            <% }else{%>
                                                <td class = "eachday">                                  
                                                
                                                    <a href="#" onclick="eachdayclick(this.innerHTML)"><%= datee %></a></td>
                                            <% } %>
                                            <% datee++; %>
                            <% }else{%>
                                <td class = "dogeachday"> </td>
                            <% } %>
                        <% } %>
                        
                    <% } %>     
                </tr>
            <% } %>
            <% check = 0; %>
            
             <!-- calendar endd-->
        </tbody>




