
<%var datee = date%>
<%=day%>
<%=month %>
<%=year %>
<%=limit %>
<% var check = 0; %>
<% for(var i=0; i<6; i++) {%>
    <tr>
        <% for(var j=0; j<7; j++) {%>
            <% if (i == day){ %>
                <% check = 1; %>
            <% } %>
            <% if (check == 0){%>
                <td class = "eachday"> </td>
            <% } %>
            <% else{%>
                <% if(datee < limit){%>
                    <td class = "eachday"><% asdasd %></td>
                <% } %>
                <% else{%>
                    <td class = "eachday"> </td>
                    <% } %>
            <% } %>
            <% datee++; %>
        <% } %>     
    </tr>
<% } %>
<% check = 0; %>



