<!DOCTYPE html>
<html>

<head>
    <title>Dogetor</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <link rel="stylesheet" href="static/hmoe.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- For use Vue.JS -->
</head>

<body>
    <!--  Navbar Start--------------------------------------------------------------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class=container>
            <a class="navbar-brand " href="#"><i class="fas fa-paw"></i> Dogetor</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a href="/logout"><button action='' method='GET' class="btn btn-dark  navbtn">Home</button></a>
                    <a href="/logout"><button action='' method='GET' class="btn btn-dark  navbtn">About us</button></a>
                    <a href="/logout"><button action='/logout' method='GET' class="btn btn-dark  navbtn">Log out</button></a>
                </div>
            </div>
        </div>
    </nav>
    <!--  Navbar End------------------------------------------------------------------------------------------------->
    <!--  Topbar Start------------------------------------------------------------------------------------------------->
    <nav class="navbar navbar-expand-lg " id="topbar">
        <div class="container">
            <div class="mr-auto"><i class="fas fa-dog"></i></div>
            <div class="mr-auto"><i class="fas fa-star"></i></div>
            <div class=><i class="fas fa-search"></i></div>
            <div class="ml-auto"><i class="fas fa-user-md"></i></div>
            <div class="ml-auto"><i class="fas fa-briefcase-medical"></i></div>
        </div>
    </nav>
    <!--  Topbar End------------------------------------------------------------------------------------------------->
    <div class="container">
        <div class="row">
            <!--  Side bar Start--------------------------------------------------------------------------------------------->
            <div class="col-2 rounded-bottom" id="sidebar">
                <div class="sidebarComp">
                    <img id="profile" src="/image/<%=pic%>"> <!-- userpics----->
                    <h5 id=username><%=msg%></h5> <!-- username----->
                    <div>3 dogs</div>
                </div>
                <div class="sidebarComp">
                    <div class="listTitle rounded-top"><i class="fas fa-dog"></i> Dog list</div>
                   <table class="sidebarlist rounded-bottom">
                            <% for(var i=0; i<3; i++) { %>
                                    <tr>
                                        <td class="dognameinlist">Husky</td>
                                        <td class="dognameindot"><i class="fas fa-ellipsis-h"></i></td>
                                    </tr>
                                <% } %>
                        <tr>
                            <td class="dognameinlist"><h5>more</h5></td>
                            <td class="dognameindot"><i class="fas fa-ellipsis-h"></i></td>
                        </tr>
                        <tr>
                            <td class="dognameinlist"><h5>Add dog</h5></td>
                            <td class="dognameindot"><i class="fas fa-plus"></i></td>
                        </tr>
                    </table>
                </div>
                <div class="sidebarComp">
                    <div class="listTitle rounded-top"><i class="fas fa-star"></i> Favourite</div>
                    <div>
                        <table class="sidebarlist rounded-bottom">
                            <tr class="sidebarlist">
                                <td class="dognameinlist">he y</td>
                                <td class="dognameindot"><i class="fas fa-ellipsis-h"></i></td>
                            </tr>
                            <tr>
                                <td class="dognameinlist">he y</td>
                                <td class="dognameindot"><i class="fas fa-ellipsis-h"></i></td>
                            </tr>
                            <tr>
                                <td class="dognameinlist">he y</td>
                                <td class="dognameindot"><i class="fas fa-ellipsis-h"></i></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="sidebarComp">
                    <div class="listTitle rounded"><i class="fas fa-user-md"></i> Vet list</div>
                </div>
                <div class="sidebarComp">
                    <div class="listTitle rounded"><i class="fas fa-briefcase-medical"></i> Hospital list</div>
                </div>
                <div class="sidebarComp">
                    <!-- <a href="AnalyzeReg.html"></a> -->
                    <a href="AnalyzeReg.html">
                        <div id="analyzebtn" class="listTitle rounded">
                            <h5><i class="fas fa-search"></i> Analyze</h5>
                        </div>
                    </a>
                </div>

            </div>

            <!--Side bar End---------------------------------------------------------------------------------------------->
            <div class="col-8 content">
                <h1 id="schedulehead">Appointment Schedule</h1>
                <table class="schedule ">
                    <thead>
                        <tr id = "dayfull">
                            <td class="day">Sunday</td>
                            <td class="day">Monday</td>
                            <td class="day">Tuesday</td>
                            <td class="day">Wednesday</td>
                            <td class="day">Thursday</td>
                            <td class="day">Friday</td>
                            <td class="day">Saturday</td>
                        </tr>
                        <tr id = "dayacro">
                            <td class="day">Sun</td>
                            <td class="day">Mon</td>
                            <td class="day">Tue</td>
                            <td class="day">Wed</td>
                            <td class="day">Thu</td>
                            <td class="day">Fri</td>
                            <td class="day">Sat</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i<5; i++) {%>
                            <tr>
                                <% for(var j=0; j<7; j++) {%>
                                    <td class = "eachday">1</td>
                                <% } %>     
                            </tr>
                         <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/homee.js"></script>
<script>
        history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
    </script>
</html>