<!DOCTYPE html>
<html>

<head>
    <title>Dogetor</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <link rel="stylesheet" href="static/hmoe.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- For use Vue.JS -->
</head>

<body>
    <!--  Navbar Start--------------------------------------------------------------------------------------------------->
    <%- include('navbar') %>
    <!--  Navbar End------------------------------------------------------------------------------------------------->
    <!--  Topbar Start------------------------------------------------------------------------------------------------->
    <!-- <%- include('topbar') %> -->
    <!--  Topbar End------------------------------------------------------------------------------------------------->
    <div class="container">
        <div class="row">
            <!--  Side bar Start--------------------------------------------------------------------------------------------->
            <%- include('sidebar') %>
            
            <!--Side bar End---------------------------------------------------------------------------------------------->
            
            <div class="col-8 content" >
                <h1 id="schedulehead"></h1>
                <table class="schedule ">
                    <thead>
                        <tr id = "dayfull">
                            <td class="day">Sunday</td>
                            <td class="day">Monday</td>
                            <td class="day">Tuesday</td>
                            <td class="day">Wednesday</td>
                            <td class="day">Thursday</td>
                            <td class="day">Friday</td>
                            <td class="day">Saturday</td>
                        </tr>
                        <tr id = "dayacro">
                            <td class="day">Sun</td>
                            <td class="day">Mon</td>
                            <td class="day">Tue</td>
                            <td class="day">Wed</td>
                            <td class="day">Thu</td>
                            <td class="day">Fri</td>
                            <td class="day">Sat</td>
                        </tr>
                    </thead>
                    <tbody id = "calendar">
                        <!-- calendar startt -->
                        
                            <% for(var i=0; i<6; i++) {%>
                                <tr>
                                    <% for(var j=0; j<7; j++) {%>
                                        <td class = "eachday"><a href="#" class = "dayeach" onclick="loadXMLDoc()"></a>
    
                                        </td>
    
                                    <% } %>     
                                </tr>
                            <% } %>
                        
                         <!-- calendar endd-->
                    </tbody>
                </table>
                <div class = "row">
                        <div class = "rounded col-6"  align ="left">
                            <button id = "prembtn" class = "btn">Last month</button>
                        </div>
                        <div class = "rounded col-6"  align ="right">
                            <button id = "nxtmbtn" class = "btn">Next month</button>
                        </div>
                    </div>
            </div>
        </div>
  
    </div>
    <% if(errors){ %>
        <% for (var error of errors){%>
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%=error.msg %>
        </div>
        <% } %>
        <% } else{ %>
        <% } %>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/homee.js"></script>
<script>
        history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    
    };
    
    var datee = new Date();
    var month = datee.getMonth();
    var year = datee.getFullYear();
    datee.setDate(1);
    var date = datee.getDate();
    var day = datee.getDay();
    var checkday = 0;
    var monthlist = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
    document.getElementById("schedulehead").innerHTML = "Appointment schedule : " + monthlist[month] + " " + year;
    var x = document.getElementsByClassName("dayeach");
    var limit = new Date(year, month, 0).getDate();
    function updatecalendar(monthh,yearr){
        date = 1;
        datee.setDate(1);
        datee.setMonth(monthh);
        datee.setFullYear(yearr);
        var day = datee.getDay();
        limit = new Date(yearr, monthh, 0).getDate();
        for (var i = 0; i < x.length; i++) {
            if(i== day){
                checkday = 1;
            }
            if(checkday==0){
                x[i].innerHTML = " ";
            }
            else{
                if (date < limit) {
                    x[i].innerHTML = date;
                    
                }
                else {
                    x[i].innerHTML = " ";
                }
                date++;
            }
        }  
        checkday = 0;
    }
    function allowdog(){
        // alert('adasasd');
        var allowing = document.getElementsByClassName("allowdog");
        jQuery(".allowdog").css("display", "table-row");
        
    }
    updatecalendar(month,year);
    
   
    
    function mouseOver(j){
        document.getElementById(j).style.backgroundColor = "rgb(225, 220, 212)";  
    }
    function mouseOut(j){
        document.getElementById(j).style.backgroundColor = "rgb(255, 238, 212)";
    }

    $("#nxtmbtn").on('click',function(event){
        event.preventDefault();
        event.stopPropagation();
        if(month == 11){        
                month = -1;
                year++;
        }; 
        document.getElementById("schedulehead").innerHTML = "Appointment schedule : " + monthlist[++month] + " " + year;
        datee.setDate(1);
        datee.setMonth(month);
        datee.setFullYear(year);
        var day = datee.getDay();
        // alert(month);
        $.ajax({
            url:"/home",
            type:"POST",          
            data: {date:1,day,day,month:month,year:year,limit:limit}
        }).done(function(result){
            limit = new Date(year, month+1, 0).getDate();
            nxtMonth(result);
        })
    })
    function nxtMonth(result1){
        var div = document.getElementById("calendar");
        div.innerHTML = result1;
    }
    
    $("#prembtn").on('click',function(event){
        event.preventDefault();
        event.stopPropagation();
        if(month == 0){
            month = 12;
            year--;
        }; 
        document.getElementById("schedulehead").innerHTML = "Appointment schedule : " + monthlist[--month] + " " + year;        
        datee.setDate(1);
        datee.setMonth(month);
        datee.setFullYear(year);
        var day = datee.getDay();
        // alert(month);
        $.ajax({
            url:"/home",
            type:"POST",          
            data: {date:1,day,day,month:month,year:year,limit:limit}
        }).done(function(result){  
            limit = new Date(year, month+1, 0).getDate();
            nxtMonth(result);
        })
    })
    function preMonth(){
        var div = document.getElementById("calendar");
        div.innerHTML = result1;
    }



    var showwww = function (result1){
        // alert("asdasd333");
        
        
    }

    </script>
</html>