<!DOCTYPE html>
<html>

<head>
	<title>Hospital info</title>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/hospitalInfoCss.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- For use Vue.JS -->
</head>

<body>

	<!--  Navbar Start--------------------------------------------------------------------------------------------------->
    <%- include('navbar') %>
    <!--  Navbar End------------------------------------------------------------------------------------------------->

    <div class="container">
        <div class="row">
        	 <!--  Side bar Start--------------------------------------------------------------------------------------------->
             <%- include('sidebar') %>
             <!--Side bar End---------------------------------------------------------------------------------------------->
            <!--Hospital info begin---------------------------------------------------------------------------------------------->
            <div class="blockOfInformation container col-8">
            	<div class="row">

            		<div class="col-1"></div>
            		<div class="col-10"><h2 class="text-center" id="topic">Hospital information</h2></div> <!--This is Topic--->
            		<div class="col-1"></div>

            		<div class="col rounded" id="infoContainer">
            			<br>
            			<div class ="text-center">
            			<img class="rounded" src="https://image.dogilike.com/shareimg/contentimg/2018/meawmeaw/content/content-ThonglorPet_03.jpg" id="hospitalPic">
            			</div>
            			<div class="col-11" id="infoParagraph">
            			<br>
            			<p>[Hospital_name]</p>
            			<p>[Location---------------------------------------------]</p>
            			<p>Phone number : xx-xxx-xxxx</p>
            			<p>Open : tt:tt - TT:TT</p>
            			</div>
            			
            		</div>
            	</div>
            </div>
            <!--Hospital info End---------------------------------------------------------------------------------------------->
            
			<!--Boostrap Begin---------------------------------------------------------------------------------------------->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
             <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
              crossorigin="anonymous"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    		  crossorigin="anonymous"></script>
    		<!--Boostrap End---------------------------------------------------------------------------------------------->

</body>
</html>