<nav class="navbar navbar-expand-lg navbar-dark navv" >
    <div class=container>
        <a class="navbar-brand navv" href="/" ><i class="fas fa-paw"></i> Dogetor</a>
        <button class="navbar-toggler navv" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a href="/home" ><button  method='GET' class="btn navv-btn  navbtn">Home</button></a>
                <a href="/aboutus" ><button  method='GET' class="btn navv-btn  navbtn">About us</button></a>
                <a href="/logout"><button  class="btn navv-btn  navbtn">Log out</button></a>
            </div>
        </div>
    </div>
</nav>