<nav class="navbar navbar-expand-lg " id="topbar">
    <div class="container">
        <div class="mr-auto"><i class="fas fa-dog"></i></div>
        <div class="mr-auto"><i class="fas fa-star"></i></div>
        <div class=><i class="fas fa-search"></i></div>
        <div class="ml-auto"><i class="fas fa-user-md"></i></div>
        <div class="ml-auto"><i class="fas fa-briefcase-medical"></i></div>
    </div>
</nav>